@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: "Comic Relief", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121420;
    color: white;
}

main {
    display: flex;
    flex-flow: column nowrap;
    font-family: var(--fonte3);
    width: 50%;
    margin: auto;
}

main section.questao {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 80vh;
    
}

main section.questao div.numeracao-questao p {
    padding: 10px;
    
}

main section.questao div.enunciado-questao p {
    text-align: justify;
    padding: 10px;
}

main section.questao div.alternativas-questao div.opcao button {
    padding: 10px;
    margin: 10px;
}

main section.questao div.btn-responder {
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.questao div.btn-responder button {
    padding: 10px;
    margin: 10px;
}